{% extends "auctions/layout.html" %}
{% block head %}
<style>
     #submit{
         background-color:#5190f5;
         color:white;
         padding:15px;
         margin-left; 50px;
         clear:both;
         width: 20%;
         float: right;
         margin-top: 120px;
         }
</style>
{% endblock %}
{% block body %}
<div style="margin-bottom:80px;text-align:center;margin-top:80px;background-color:#5fbde8;padding:30px;color:white">
    <h1> Product Details{{onesbid}} </h1></div>
<hr>
<ul>
    <div style="border:1px solid #ebeff5;display:flex;">
        {% if listing.image %}
        <div style="">
            <img src=" {{ listing.image.url }}" alt="image" width="250px" style="margin-right:25px;margin-bottom:40px"></div>

        {% elif listing.url %}
        <div style="">
                <img src="{{ listing.url }}" alt="image" width="250px" style="margin-right:25px;margin-bottom:40px"></div>
        {% else %}
        <div style="">
                <img src="media/product-default.png" alt="image" width="250px" style="margin-right:25px;margin-bottom:40px"></div>
        {% endif %}
        <div style="margin-left:5%;display:table;clear:both">
            <h1 style="">{{ listing.title |title }} </h1>
         <h6>   <span style="color:#e85f6a"> Description : </span>  {{listing.description}} </h6>
        <h6> <span style="color:#e85f6a">Starting bid : </span> {{ listing.startingbid}} $</h6>
            <h6> <span style="color:#e85f6a"> Category : </span> {{ listing.category }} </h6>
            <h4><span style="color:#e85f6a"> Current Price : </span> {{ currentprice }} $ </h4>
            <p>Listed by <a href="#"> {{listing.owner}}  </a></p>
            <a href="{% url 'add' listing.title %}">Add to watchlist</a><br>
            <a href="{% url 'remove' listing.title %}">Remove from watchlist</a>
            <hr>
            <div style="width:500px;">
            <form action="{% url 'comment' listing.title %}" method="post" style="margin-bottom:80px;margin-top:30px;">
                <h5 style=""> Make a comment : </h5>
                <br>
                {% csrf_token %}
                {{ form.comment }}
                <input type="submit" value="Submit" id="submit">
            </form>
            <br>
            {% for comment in comments %}

            <h3 style="display:inline;">{{ comment.user | title}}</h3> <h6 style="display:inline;opacity:0.5;float:right"> {{ comment.comment_date }} </h6>
               <p> {{ comment.comment }}</p>

            {% endfor %}
</div>
        </div>
    </div>
</ul>
<div style="width:800px;margin-left:100px;">
<form action="{% url 'bidding' listing.title %}" method="post" style="margin-bottom:80px;">
    {% csrf_token %}
    <h2 style="color:#5190f5">Make a bid here : <span style="border: 5px solid #5190f5;">{{ bidform.bid }} </span> </h2>
     <input type="submit" value="Bid" style="background-color:#5190f5;color:white;padding:15px;float:right;">
</form>
<div style="">
<h4>Current bids :</h4>

{% for bid in bids %}
    <p style="display:inline;">{{ bid.user | title }} -----> </p> <p style="display:inline;font-weight:bold;"> {{ bid.bid }} </p> $
    <p style="opacity:0.5;"> {{ bid.bid_date }} </p>
{% endfor %}
</div>
</div>
{% endblock %}